.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  padding-left: 80px;
  padding-top: 60px;
  padding-right: 80px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__logo {
  height: 39px;
  width: 105px;
  z-index: 2;
}

.footer__circle {
  border-radius: 340px;
  background-color: #2f80ed;
  height: 340px;
  width: 340px;
  position: absolute;
  top: -188px;
  left: -124px;
  z-index: 1;
}

.footer__column_content_social {
  color: white;
}

.footer__column-heading {
  color: white;
}

.footer__social-heading {
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__header {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  color: white;
  z-index: 1;
  margin-top: 108px;
}
