.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  padding-right: 50px;
  display: flex;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color: #2f80ed;
}
