.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.recipes__title {
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.recipes__title-text {
  margin-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__title-subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__videos-iframes {
  display: flex;
  gap: 40px;
  border: 0;
}

.recipes__iframe {
  box-shadow: 0px;
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 215px;
}

.recipes__videos-caption-title {
  display: flex;
  justify-content: space-between;
  width: 480px;
  height: auto;
  margin-top: 24px;
}

.recipes__videos-caption-title p {
  margin: 0;
}
