.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
  z-index: 3;
}

.reservation__title {
  margin: 0 auto 80px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  align-items: center;
  text-align: center;
}

.reservation__fieldset {
  min-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.reservation__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.reservation__input {
  height: 60px;
  margin-top: 8px;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.reservation__input::placeholder {
  color: #838383;
  padding-top: 15px;
}

.reservation__button {
  min-width: 385px;
  min-height: 60px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 2px;
}

.reservation__button:hover {
  opacity: 0.7;
}

.reservation__checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
