.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  padding-right: 50px;
  display: flex;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.nav__links a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  min-height: 745px;
  max-height: auto;
  position: relative;
  box-sizing: border-box;
  height: auto;
}

.header__title {
  margin: 0;
  margin-bottom: 0;
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  font-family: "Inter";
  font-style: normal;
  letter-spacing: -1px;
  padding: 0;
}

.header__title_span-accent {
  margin-left: 80px;
  margin-top: 183px;
  font-family: "Noto Serif";
  font-style: italic;
  display: block;
  font-weight: normal;
  color: #2f80ed;
}

.header__title_subtitle {
  margin-left: 80px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 28px;
  max-width: 683px;
  padding-bottom: 158px;
}

.header__image {
  width: 646px;
  height: 568px;
  left: auto;
  position: absolute;
  right: 0px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.recipes__title {
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.recipes__title-text {
  margin-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__title-subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__videos-iframes {
  display: flex;
  gap: 40px;
  border: 0;
}

.recipes__iframe {
  box-shadow: 0px;
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 215px;
}

.recipes__videos-caption-title {
  display: flex;
  justify-content: space-between;
  width: 480px;
  height: auto;
  margin-top: 24px;
}

.recipes__videos-caption-title p {
  margin: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
  font-style: normal;
}

.reservation__title {
  margin: 100px 0 80px 0;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  margin-bottom: 120px;
  align-items: center;
  text-align: center;
}

.reservation__fieldset {
  min-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.reservation__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.reservation__input {
  height: 60px;
  margin-top: 8px;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.reservation__input::placeholder {
  color: #838383;
  padding-top: 15px;
}

.reservation__button {
  min-width: 385px;
  min-height: 60px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 2px;
}

.reservation__button:hover {
  opacity: 0.7;
}

.reservation__checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
